#get-credentials.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title Retrieve Password
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .alert.alert-info.hide#success-info(role='alert') Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.
                .alert.alert-danger.hide#email-alert(role='alert') There is no account this email associated with
                form#get-credentials-form
                    .form-group
                        label(for='email-lostpw') Please enter the email address associated with your account:
                        input#email-lostpw.form-control(type="email", name="email" required)
                        .alert.alert-danger.d-none
            .modal-footer
                button(data-dismiss="modal")#cancel.btn.btn-secondary Cancel
                button(type="submit")#retrieve-password-submit.btn.btn-primary Submit